<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="com.selagroup.intentext"
      android:versionCode="1"
      android:versionName="1.0">
    <uses-sdk android:minSdkVersion="8" />

    <application android:icon="@drawable/icon" android:label="@string/app_name">
        <activity android:name=".IntentExtensibilityActivity"
                  android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".NukeActivity" android:label="@string/app_name">
            <intent-filter android:label="Nuke 'Em">
                <category android:name="android.intent.category.SELECTED_ALTERNATIVE"></category>
                <data android:scheme="content" android:host="com.selagroup.intentext.planets"></data>
                <action android:name="com.selagroup.intentext.planets.NUKE_EM"></action>
            </intent-filter>
        </activity>
        <activity android:name=".ShowerWithFlowersActivity" android:label="@string/app_name">
            <intent-filter android:label="Send 'Em Flowers">
                <action android:name="com.selagroup.intentext.planets.SHOWER_EM"></action>
                <category android:name="android.intent.category.SELECTED_ALTERNATIVE"></category>
                <data android:host="com.selagroup.intentext.planets" android:scheme="content"></data>
            </intent-filter>
        </activity>

    </application>
</manifest>